* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

html {
    height: 100%;
    width: 100%;
}
a{
    text-decoration: none;
}

footer
{
    background: #121113;
    color: #F1F2F6;
}

footer a
{
    color: #F8F4F9;
}

header
{
    background: #121113;
    color: #F1F2F6;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    font-size: larger;
}

header a
{
    color: #F1F2F6;
}

.welcome
{
    background: #444554;
    color: #F1F2F6;
}

.welcome a
{
    color: #F1F2F6;
}