* {
    padding: 0;
    margin: 0;
}

html {
    height: 100%;
    width: 100%;
}
a{
    text-decoration: none;
}

footer
{
    background: #172121;
    color: #E5D0CC;
}

footer a
{
    color: #62606B;
}

header
{
    background: #172121;
    color: #E5D0CC;
}

header a
{
    color: #62606B;
}

.welcome
{
    background: #444554;
    color: #BFACB5;
}

.welcome a
{
    color: #7F7B82;
}