* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

html {
    height: 100%;
    width: 100%;
}
a{
    text-decoration: none;
}

footer
{
    background: #121113;
    color: #F1F2F6;
}

footer p
{
    color: #F8F4F9;
    text-align: center;
}

header
{
    background: #121113;
    color: #F1F2F6;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    font-size: larger;
}

header a
{
    color: #F1F2F6;
}

.welcome
{
    background: #39393A;
    color: #F1F2F6;
    text-align: center;
    height: 100vh;
}

.welcome a
{
    padding: 20px;
    color: #F1F2F6;
}

.login {
    background-color: #39393A;
    color: #F1F2F6;
    text-align: center;
    height: 100vh;
}

.login-container {
    padding: 20px;
}

.login-container button {
    font-size: x-large;
}

.register {
    background-color: #39393A;
    color: #F1F2F6;
    height: 100vh;
    text-align: center;
}

.register-container {
    padding: 20px;
}