# Redirect www to non-www
RewriteEngine On
RewriteCond %{HTTP_HOST} ^www\.(.*)$ [NC]
RewriteRule ^(.*)$ http://%1/$1 [R=301,L]

# Enable Pretty URLs
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /404.php [L]

# Prevent Access to Config Files
<FilesMatch "config\.php">
    Order Allow,Deny
    Deny from all
</FilesMatch>

# Block Directory Listing
Options -Indexes

# 404 page
ErrorDocument 404 /404.php
