<!doctype html>
<html lang="en">
<head>
    <title>404</title>
</head>
<body>
    <main class="flex-column; justify-content-center; align-content-center">
        <h1>404</h1>
        <h3>the page you're  looking for doesn't exist.</h3>
        <p>do you wish to go back <a href="/">home?</a></p>
    </main>
</body>
</html>