@page
@model SyntaxErrorIDE.Pages.Editor

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
    <head>
        <title></title>
        <link rel="stylesheet" type="text/css" href="sass/site.css">
    </head>
    <body>
        <main>
            <div id="editor">
                <aside id="sidebar">
                    <h2>File Explorer</h2>
                    <ul id="file-list">
                        <!-- File list will be populated here -->
                    </ul>
                </aside>
                <textarea id="code-editor" spellcheck="false"></textarea>
            </div>
        </main>


    </body>
</html>