@page
@{
    Layout = null;
}
@model SyntaxErrorIDE.Pages.HighlightModel
@{
}

<!DOCTYPE html>
<html lang="en">

<head>
    @await Html.PartialAsync("~/Pages/views/head.cshtml")
    <title>Hightlight</title>
    <style>
        * {
            font-family: monospace;
            unicode-bidi: isolate;
        }
    </style>
</head>

<body class="h-[100vh] w-[100%] bg-[#121212]">
    <div class="text-center"></div>
    @* <form method="post">
        <button>Tokenize</button>
    </form> *@

    <p id="text"></p>

    @Html.Raw(Model.HtmlContent)
    </div>
</body>

</html>
