@page
@model SyntaxErrorIDE.Pages.IndexModel
@{
    ViewData["Title"] = "Home page";
}
<head>
    @await Html.PartialAsync("~/Pages/views/head.cshtml")
    <title>Home</title>
</head>
<body>
@await Html.PartialAsync("~/Pages/views/header.cshtml")
<main>
    <div class="container">
        <h1>Welcome to SyntaxError IDE</h1>
        <p>Your go-to solution for all your coding needs.</p>
        <p>Explore our features and start coding today!</p>
        <a href="/Editor" class="btn btn-primary">Start Coding</a>
    </div>
</main>
@await Html.PartialAsync("~/Pages/views/footer.cshtml")
</body>
