@page
@model SyntaxErrorIDE.Pages.IndexModel
@{
    ViewData["Title"] = "Home page";
}
<!doctype html>
<html lang="en">
<head>
    @await Html.PartialAsync("~/Pages/views/head.cshtml")
    <title>Home</title>
</head>
<body>
@await Html.PartialAsync("~/Pages/views/header.cshtml")
<main class="welcome w-[100vw] h-[92vh] flex flex-col justify-center items-center">
    <div class="container">
        <h1>Welcome to SyntaxError IDE</h1>
        <p>Your go-to solution for all your coding needs.</p>
        <p>Explore our features and start coding today!</p>
        <a href="login">Start Coding</a>
    </div>
    @if (TempData["Message"] != null)
    { 
        @TempData["Message"]
    }
</main>
@await Html.PartialAsync("~/Pages/views/footer.cshtml")
</body>
</html>
