@page
@model SyntaxErrorIDE.Pages.IndexModel
@{
    ViewData["Title"] = "Home page";
}
<!doctype html>
<html lang="en">
<head>
    @await Html.PartialAsync("~/Pages/views/head.cshtml")
    <title>Home</title>
</head>
<body>
@await Html.PartialAsync("~/Pages/views/header.cshtml")
<main class="welcome">
    <div class="container">
        <h1>Code without limits</h1>
        <h1>SyntaxError IDE</h1>
        <a href="login">Start Coding</a>
    </div>
    @if (TempData["Message"] != null)
    { 
        @TempData["Message"]
    }


        <div class="text-center">
            <h1 class="display-4">Welcome</h1>
            <form method="post">
                <button>Tokenize</button>
            </form>

            <p id="text"></p>

            @Html.Raw(Model.HtmlContent)
        </div>

</main>
@await Html.PartialAsync("~/Pages/views/footer.cshtml")
</body>
</html>
