@page
@model SyntaxErrorIDE.Pages.LoginModel
@{
    ViewData["Title"] = "login";
    Layout = null;
}
@if (!string.IsNullOrEmpty(ViewBag.Message))
{
    <div class="alert alert-danger">@ViewBag.Message</div>
}
<!doctype html>
<html lang="en">

<head>
    @await Html.PartialAsync("~/Pages/views/head.cshtml")
    <title>Login</title>
</head>

<body>
    @await Html.PartialAsync("~/Pages/views/header.cshtml")
    <div class="login">
        <div class="welcome-back">
            <h1>Welcome Back!</h1>
        </div>

        <div class="login-container">
            <form method="post" action="/account/login">
                <h2>Login to Your Account</h2>
                <div class="login-item">
                    <label for="name">Username:</label>
                    <input type="text" id="name" name="name" class="login-input" required>
                </div>
                <div class="login-item">
                    <label for="password">Password:</label>
                    <input type="password" id="password" name="password" class="login-input" required>
                </div>
                <button type="submit">Login</button>
            </form>
        </div>
    </div>
    @if (TempData["Message"] != null)
    {
        @TempData["Message"]
    }
    @await Html.PartialAsync("~/Pages/views/footer.cshtml")
</body>

</html>