@page
@model SyntaxErrorIDE.Pages.LoginModel
@{
    ViewData["Title"] = "Home page";
}
<!doctype html>
<html lang="en">
<head>
    @await Html.PartialAsync("~/Pages/views/head.cshtml")
    <title>Home</title>
</head>
<body>
@await Html.PartialAsync("~/Pages/views/header.cshtml")
<form method="post" action="/account/login">
    <div class="form-group">
        <label for="name">Username:</label>
        <input type="text" id="name" name="name" class="form-control" required>
    </div>
    <div class="form-group">
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" class="form-control" required>
    </div>
    <button type="submit" class="btn btn-primary">Login</button>
</form>
@await Html.PartialAsync("~/Pages/views/footer.cshtml")
</body>
</html>
