@page
@model SyntaxErrorIDE.Pages.LoginModel
@{
    ViewData["Title"] = "login";
}
@if (!string.IsNullOrEmpty(ViewBag.Message))
{
    <div class="alert alert-danger">@ViewBag.Message</div>
}
<!doctype html>
<html lang="en">

<head>
    @await Html.PartialAsync("~/Pages/views/head.cshtml")
    <title>Home</title>
</head>

<body>
    @await Html.PartialAsync("~/Pages/views/header.cshtml")
    <div class="flex flex-row">
        <div class="w-[70%] h-[100vh] bg-[#172121] text-[white]">
            <h1 class="text-5xl font-bold">Welcome Back!</h1>
        </div>

        <div class="w-[30%] h-[100vh] bg-[#444554] flex items-center justify-center">
            <form method="post" action="/account/login" class="max-w-sm space-y-6 flex justify-center flex-column">
                <h2 class="text-2xl font-semibold text-gray-800">Login to Your Account</h2>
                <div>
                    <label for="name">Username</label>
                    <input type="text" id="name" name="name" class="w-[80%]" required>
                </div>
                <div>
                    <label for="password">Password</label>
                    <input type="password" id="password" class="w-[80%]" name="password" required>
                </div>
                <button type="submit">Login</button>
            </form>
        </div>
    </div>
    @if (TempData["Message"] != null)
    {
        @TempData["Message"]
    }
    @await Html.PartialAsync("~/Pages/views/footer.cshtml")
</body>

</html>