@page

@{
    ViewData["Title"] = "Register";
}
<!doctype html>
<html lang="en">

<head>
    @await Html.PartialAsync("~/Pages/views/head.cshtml")
    <title>Register</title>
</head>

<body>
    @await Html.PartialAsync("~/Pages/views/header.cshtml")
    <div class="register">
        <h1>Time to create your own acount</h1>
        <div class="register-container">
            <form method="post" action="/account/Register">
                <div class="register-item">
                    <label for="name">Username:</label>
                    <input type="text" id="name" name="name" class="register-input" required>
                </div>
                <div class="register-item">
                    <label for="email">E-mail:</label>
                    <input type="email" name="email" id="email" class="register-input" required>
                </div>
                <div class="register-item">
                    <label for="password">Password:</label>
                    <input type="password" id="password" name="password" class="register-input" required>
                </div>
                <div class="register-item">
                    <label for="passwordRepeat">Repeat password:</label>
                    <input type="password" id="passwordRepeat" name="passwordRepeat" class="register-input" required>
                </div>
                <button type="submit" class="btn btn-primary">Register</button>
            </form>
        </div>
    </div>
    @if (TempData["Message"] != null)
    {
        @TempData["Message"]
    }

    @await Html.PartialAsync("~/Pages/views/footer.cshtml")
</body>

</html>