<?xml version="1.0" encoding="UTF-8"?>

<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="Redirect WWW to non-WWW" stopProcessing="true">
                    <match url="(.*)" />
                    <conditions>
                        <add input="{HTTP_HOST}" pattern="^www\.(.*)$" />
                    </conditions>
                    <action type="Redirect" url="http://{C:1}/{R:1}" redirectType="Permanent" />
                </rule>

                <!-- Bring the user to the error page if the page doesnt exist -->
                <rule name="Rewrite to 404.cshtml" stopProcessing="true">
                    <match url=".*" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="/404.cshtml" />
                </rule>
            </rules>
        </rewrite>

        <security>
            <requestFiltering>
                <fileExtensions>
                    <!-- Alle toegestaande bestand types -->
                    <remove fileExtension=".java" />
                    <remove fileExtension=".py" />
                    <remove fileExtension=".rb" />
                    <remove fileExtension=".php" />
                    <remove fileExtension=".cpp" />
                    <remove fileExtension=".c" />
                    <remove fileExtension=".cs" />
                    <remove fileExtension=".fs" />
                    <remove fileExtension=".vb" />
                    <remove fileExtension=".go" />
                    <remove fileExtension=".rs" />
                    <remove fileExtension=".kt" />
                    <remove fileExtension=".swift" />
                    <remove fileExtension=".scala" />
                    <remove fileExtension=".sh" />
                    <remove fileExtension=".bat" />
                    <remove fileExtension=".ps1" />
                    <remove fileExtension=".js" />
                    <remove fileExtension=".ts" />
                    <remove fileExtension=".jsx" />
                    <remove fileExtension=".tsx" />
                    <remove fileExtension=".html" />
                    <remove fileExtension=".htm" />
                    <remove fileExtension=".css" />
                    <remove fileExtension=".scss" />
                    <remove fileExtension=".sass" />
                    <remove fileExtension=".less" />
                    <remove fileExtension=".json" />
                    <remove fileExtension=".xml" />
                    <remove fileExtension=".yaml" />
                    <remove fileExtension=".yml" />
                    <remove fileExtension=".md" />
                    <remove fileExtension=".markdown" />
                    <remove fileExtension=".lua" />
                    <remove fileExtension=".pl" />
                    <remove fileExtension=".pm" />
                    <remove fileExtension=".r" />
                    <remove fileExtension=".dart" />
                    <remove fileExtension=".elm" />
                    <remove fileExtension=".clj" />
                    <remove fileExtension=".cljs" />
                    <remove fileExtension=".hs" />
                    <remove fileExtension=".ex" />
                    <remove fileExtension=".exs" />
                    <remove fileExtension=".sql" />
                    <remove fileExtension=".asm" />
                    <remove fileExtension=".csv" />
                    <remove fileExtension=".db" />
                    <remove fileExtension=".png" />
                    <remove fileExtension=".jpg" />
                    <remove fileExtension=".jpeg" />
                    <remove fileExtension=".gif" />
                    <remove fileExtension=".svg" />
                    <remove fileExtension=".mp3" />
                    <remove fileExtension=".mp4" />
                    <remove fileExtension=".pdf" />
                    <remove fileExtension=".doc" />
                    <remove fileExtension=".docx" />
                    <remove fileExtension=".ppt" />
                    <remove fileExtension=".pptx" />
                    <remove fileExtension=".txt" />
                    <remove fileExtension=".zip" />
                    <remove fileExtension=".rar" />
                    <remove fileExtension=".exe" />
                    <remove fileExtension=".dll" />
                    <remove fileExtension=".ini" />
                    <remove fileExtension=".conf" />
                    <remove fileExtension=".env" />
                    
                    <add fileExtension=".java" allowed="true" />
                    <add fileExtension=".py" allowed="true" />
                    <add fileExtension=".rb" allowed="true" />
                    <add fileExtension=".php" allowed="true" />
                    <add fileExtension=".cpp" allowed="true" />
                    <add fileExtension=".c" allowed="true" />
                    <add fileExtension=".cs" allowed="true" />
                    <add fileExtension=".fs" allowed="true" />
                    <add fileExtension=".vb" allowed="true" />
                    <add fileExtension=".go" allowed="true" />
                    <add fileExtension=".rs" allowed="true" />
                    <add fileExtension=".kt" allowed="true" />
                    <add fileExtension=".swift" allowed="true" />
                    <add fileExtension=".scala" allowed="true" />
                    <add fileExtension=".sh" allowed="true" />
                    <add fileExtension=".bat" allowed="true" />
                    <add fileExtension=".ps1" allowed="true" />
                    <add fileExtension=".js" allowed="true" />
                    <add fileExtension=".ts" allowed="true" />
                    <add fileExtension=".jsx" allowed="true" />
                    <add fileExtension=".tsx" allowed="true" />
                    <add fileExtension=".html" allowed="true" />
                    <add fileExtension=".htm" allowed="true" />
                    <add fileExtension=".css" allowed="true" />
                    <add fileExtension=".scss" allowed="true" />
                    <add fileExtension=".sass" allowed="true" />
                    <add fileExtension=".less" allowed="true" />
                    <add fileExtension=".json" allowed="true" />
                    <add fileExtension=".xml" allowed="true" />
                    <add fileExtension=".yaml" allowed="true" />
                    <add fileExtension=".yml" allowed="true" />
                    <add fileExtension=".md" allowed="true" />
                    <add fileExtension=".markdown" allowed="true" />
                    <add fileExtension=".lua" allowed="true" />
                    <add fileExtension=".pl" allowed="true" />
                    <add fileExtension=".pm" allowed="true" />
                    <add fileExtension=".r" allowed="true" />
                    <add fileExtension=".R" allowed="true" />
                    <add fileExtension=".dart" allowed="true" />
                    <add fileExtension=".elm" allowed="true" />
                    <add fileExtension=".clj" allowed="true" />
                    <add fileExtension=".cljs" allowed="true" />
                    <add fileExtension=".hs" allowed="true" />
                    <add fileExtension=".ex" allowed="true" />
                    <add fileExtension=".exs" allowed="true" />
                    <add fileExtension=".sql" allowed="true" />
                    <add fileExtension=".asm" allowed="true" />
                    <add fileExtension=".csv" allowed="true" />
                    <add fileExtension=".db" allowed="true" />
                    <add fileExtension=".sqlite" allowed="true" />
                    <add fileExtension=".png" allowed="true" />
                    <add fileExtension=".jpg" allowed="true" />
                    <add fileExtension=".jpeg" allowed="true" />
                    <add fileExtension=".gif" allowed="true" />
                    <add fileExtension=".svg" allowed="true" />
                    <add fileExtension=".webp" allowed="true" />
                    <add fileExtension=".mp3" allowed="true" />
                    <add fileExtension=".wav" allowed="true" />
                    <add fileExtension=".mp4" allowed="true" />
                    <add fileExtension=".avi" allowed="true" />
                    <add fileExtension=".pdf" allowed="true" />
                    <add fileExtension=".doc" allowed="true" />
                    <add fileExtension=".docx" allowed="true" />
                    <add fileExtension=".ppt" allowed="true" />
                    <add fileExtension=".pptx" allowed="true" />
                    <add fileExtension=".txt" allowed="true" />
                    <add fileExtension=".log" allowed="true" />
                    <add fileExtension=".zip" allowed="true" />
                    <add fileExtension=".rar" allowed="true" />
                    <add fileExtension=".7z" allowed="true" />
                    <add fileExtension=".exe" allowed="true" />
                    <add fileExtension=".dll" allowed="true" />
                    <add fileExtension=".so" allowed="true" />
                    <add fileExtension=".ini" allowed="true" />
                    <add fileExtension=".conf" allowed="true" />
                    <add fileExtension=".env" allowed="true" />
                    <add fileExtension=".dotenv" allowed="true" />
                </fileExtensions>
            </requestFiltering>
        </security>
    </system.webServer>
</configuration>