<?xml version="1.0" encoding="UTF-8"?>

<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="Redirect WWW to non-WWW" stopProcessing="true">
                    <match url="(.*)" />
                    <conditions>
                        <add input="{HTTP_HOST}" pattern="^www\.(.*)$" />
                    </conditions>
                    <action type="Redirect" url="http://{C:1}/{R:1}" redirectType="Permanent" />
                </rule>

                <!-- Bring the user to the error page if the page doesnt exist -->
                <rule name="Rewrite to 404.cshtml" stopProcessing="true">
                    <match url=".*" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="/404.cshtml" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>