<header class="header h-[5vh] flex flex-row">
    <img src="favicon.ico" alt="logo">
    <nav>
        <ul class="flex flex-row list-none">
            <li><a href="/">Home</a></li>
            <li><a href="/login">Login</a></li>
        </ul>
    </nav>
</header>